/* GLOBAL STYLING */
* {
    font-family: Arial, sans-serif;
}

/* Table base */
.timetable {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}

/* Table borders */
th, td {
    border: 1px solid black;
    padding: 12px;
}

/* Bold only for headings */
th {
    font-weight: bold;
}

/* SUBJECT cells NOT bold */
.sub {
    font-weight: normal;
}

/* Title row */
.title {
    font-size: 22px;
    padding: 15px;
   
}

/* Hours column */
.hours {
    width: 80px;
    font-size: 18px;
   
}

/* Lunch row */
.lunch {
    
    font-size: 18px;
}

/* Project box spanning 2 rows */
.project {
    font-weight: normal;
   
}
